body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

.header-top {
  max-width: 1170px;
  margin-inline: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .header-left {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.header-left .header-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.header-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #8e9295;
}

.header-left .header-item i {
  font-size: 10px;
  margin-left: 5px;
}

.header-item .drop-item {
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  color: white;
  display: none;
  min-width: 80px;
  
}

.drop-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drop-item li {
  padding: 8px 14px;
}

.drop-item li a {
  text-decoration: none;
  color: white;
  display: block;
}

.header-item:hover .drop-item {
  display: block;
}
/*--------------------------------------  */
.header-top .header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-right .cart {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.header-right div {
  position: relative;
  padding: 0 10px; 
}

.header-right .search::after {
  content: "";
  position: absolute;
  right: -8px; 
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #8e9295;
}

/* ---------------------------------------- */
.header-nav {
  width: 100%;
  background-color: #f08632;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header-nav .menu-item {
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 18px 24px;
  cursor: pointer;
  position: relative;
  transition: background 0.6s;
}

.menu-item:first-child {
  background-color: black;
}

.header-nav .menu-item:hover {
  background-color: black;
}

.menu-item  ul li {
  list-style: none;
}

.header-nav .menu-item:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 68%;
  left: 0;
  background-color: black;
  min-width: 180px;
  padding: 10px 0;
  z-index: 1;
  
}

.dropdown li {
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  
}

/* banner */
.banner-home {
  width: 100%;
  height: 500px;
  position: relative;
}

.banner-home .banner-background {
  width: 100%;
  height: 100%;
}

.banner-home .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 65px 70px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.banner-content .title-hero {
  font-size: 40px;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
}

.banner-content .button-hero{
  background-color: #f08632;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  width: 120px;
}

.banner-content .button-hero::after {
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  width: 96%;
  height: 90%;
  border: 1px dashed #f08632;
}

/* About */

.about-home {
  max-width: 1170px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.about-home .about-left {
  padding-block: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.about-left .about-title {
  font-size: 20px;
  font-weight: bold;
  color: #f08632;
  letter-spacing: 4px;
}
.about-left .about-subtitle {
  font-size: 46px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.about-home .about-right {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 45%;
  padding-block: 30px;
}

.about-right .about-skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-skill .about-skill-header {
  display: flex;
  gap: 20px;
}

.about-skill-header .about-skill-name {
  font-size: 15px;
  letter-spacing: 2px;
}

.about-skill .about-progress {
  background: #e0e0e0;
  height: 6px;
  width: 100%;
  position: relative;
}

.about-progress .about-progress-bar {
  background: black;
  height: 6px;
}



/* ---------------------------Category---------------------------- */

.category {
  display: flex;
  max-width: 1170px;
  margin-inline: auto;
  justify-content: space-between;
  margin-block: 20px;
}

.category .category-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color:rgb(238, 232, 232);
  border-radius: 50%;
  padding: 45px;
  gap: 10px;
 
}
.category .category-item img {
  width: 100px;
  height: 100px;
}
